/* :default */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*              navbar          */

.navbar {
    display: grid;
    grid-template-columns:  repeat(7,minmax(60px,1fr)); 
    white-space: nowrap;
  width: 100%;
  background-color: rgba(23, 35, 33, 0.1);
  top: 0;
  position: fixed;
  z-index: 10;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center; 
}

.navbar:hover {
    background-color: #555;
}

.navbar a:hover {
  background-color: #000;
  color: orangered;
}

.navbar a.active:hover {
  background-color: #4CAF50;
}

/* dropdown button navbar */

.dropdown-button-navbar{
    border-radius: 0;
    background-color: transparent;
    color: white;
    width: 100%;
}

.dropdown-button-navbar:hover {
    background-color: #000;
  color: orangered;
}

.dropdown-menu-navbar {
    background-color: hsl(220, 10%, 40%);
    width: 100%;
}

/* In cart notification */

.notification {
  color: white;
  position: relative;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: 45px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

/* horizontal scrollbar */

.horizontal-scroll {
    background: hsla(220, 10%, 12%);
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 30px 10px;
}

.slideshow-img {
    height: 100vh;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: hsla(220, 10%, 12%);
}

::-webkit-scrollbar-track:hover {
    scale: 1.5;
    color: #999
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;

}::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

/*  flip-card  */

.card {
    width: 303px;
    padding-left: -24px;
    border-top-left-radius: 34px;
    border: transparent;
    height: 450px;
    transform-style: preserve-3d;
    transform: translateZ(-140px);
    transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    cursor: pointer;
    width: 414px;
    border-radius: .25rem;
    background-color: transparent;
}

.card > div {
    position: absolute;
    width: 414px;
    height: 450px;
    padding: 34px 21px;
    transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.card:hover ~ .img-wrapper img{
  transform: scale(0.5) translateX(0%) translateY(0%) rotateZ(0deg);
}

.item {
    display: inline-block;
    overflow: hidden;
    border: transparent;
    color: #f5f5f5;
    font-family: 'Exo 2';
    font-weight: 300;
    animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
    width: 414px;
    perspective: 600px;
    text-align: center;
    font-size: 20px;
        margin: 0 10px;
}

.card:hover{
    transform: translateZ(-160px) rotateY( -90deg);
}

/*  card front  */

.front {
    background-image: linear-gradient(180deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
    transform: rotateY(0deg) translateZ(180px);
    border-radius: 34px 3px 0 0;
}

.card:hover .front{
    opacity: 0; 
}

title {
    text-align: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: -.25px;
    font-family: 'Sarala';
    font-weight: 700;
}

.author-name {
  margin-left: 5px;
  color: white;
}

.star-rating{
  text-align: left;
  margin-top: 5px;
  font-size: 21px;
}

.discription{
  margin: 0;
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  color: black;
}

.h2 {
    font-size: 19px;
    margin-bottom: 0;
    color:black;
}


.fa-star {
    font-size: 19px;
}

.checked-rating {
    color:orange;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  color: white;
}

.flip-card-img {
    transform-origin: top right;
    transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transition-delay: 100ms;
    pointer-events: none;
    width: 200px;
}

.img-wrapper {
    animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
    position: absolute;
    bottom: 15px;
    right: 20px;
    pointer-events: none;
    backface-visibility: hidden;
}

 /*  card right  */

.right {
    background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
    opacity: 0.08;
    transform: rotateY(90deg) translateZ(160px);
    border-radius: 0 0 3px 34px;
}

.card:hover .right{
  opacity: 1; 
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
 outline: 1px solid transparent;
}

.summary-discription {
        width: 253px;
    white-space: pre-line;
    font-size: 14px;
}


.add-to-cart-button {
    position: absolute;
    right: 121px;
    bottom: 34px;
    border: none;
    box-shadow: none;
    background: none;
    color: inherit;
    font-family: 'Exo 2';
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -.25px;
    font-weight: 700;
    padding: 13px 34px;
    border-radius: 55px 55px 21px 55px;
    background-image: linear-gradient(130deg, rgba(117,51,165,1) 50%, rgba(51,46,57,.89) 100%);
    background-size: 125% 100%;
    background-position: right;
    box-shadow: 8px 5px 13px rgba(34,34,34,.08);
    transform: scale(0) skewY(13deg);
    transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transform-origin: right bottom;
}

.card:hover button{
   transform: scale(1) skewY(0);
}

.card:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

 /* keyframes for flip card  */

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

/* catagory block or book catagory title  */

.catagory-block {
    text-align: center;
    text-transform: uppercase;
    background-color: hsla(220, 10%, 12%);
    padding: 5px 0;
    color: orange;
    font-size: 30px;
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}

/* parallax */
.parallax  {
    background-image: url("https://quotefancy.com/media/wallpaper/3840x2160/6361197-George-R-R-Martin-Quote-A-reader-lives-a-thousand-lives-before-he.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2  {
    background-image: url("http://wallpapers4screen.com/Uploads/31-1-2016/26622/girl-the-laptop-book-patrol-open-book.jpg");
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("https://imgix.bustle.com/uploads/image/2019/6/18/4b562803-0149-4649-a4ba-c391565c83e8-amhed.jpg");
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("https://i.pinimg.com/originals/08/83/88/0883888c750d96b260d14ef32b2cde84.jpg");
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}