/* :default */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*              navbar          */

.navbar {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  white-space: nowrap;
  width: 100%;
  background-color: rgba(23, 35, 33, 0.1);
  top: 0;
  position: fixed;
  z-index: 10;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.navbar:hover {
  background-color:  #272A31;
}

.footer-links a {
  color: wheat;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 18px;
}

footer ul li a:hover {
  text-decoration: none;
  color: #ec5242;
}

.navbar a:hover {
  background-color: #000;
  color: #ec5242;
}

.navbar a.active:hover {
  background-color: #4caf50;
}

/* dropdown button navbar */

.dropdown-button-navbar {
  border-radius: 0;
  background-color: transparent;
  color: white;
  width: 100%;
}

.dropdown-button-navbar:hover {
  background-color: #000;
  color: #ec5242;
}

.dropdown-menu-navbar {
  background-color: #ec5242;
  width: 100%;
}

/* In cart notification */

.notification {
  color: white;
  position: relative;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: 45px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

/* horizontal scrollbar */

.horizontal-scroll {
  background:  #272A31;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 30px 10px;
}

.slideshow-img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background:  #272A31;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

::-webkit-scrollbar-track:hover {
  scale: 1.5;
  color: #999;
}

/*  flip-card  */

.card {
  padding-left: -24px;
  border-top-left-radius: 34px;
  border: transparent;
  height: 450px;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
  width: 414px;
  background-color: transparent;
}

.card > div {
  position: absolute;
  width: 414px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.card:hover ~ .img-wrapper img {
  transform: scale(0.5) translateX(0%) translateY(0%) rotateZ(0deg);
}

.item {
  display: inline-block;
  overflow: hidden;
  border: transparent;
  color: #f5f5f5;
  font-weight: 300;
  animation: fadeIn 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 1;
  width: 414px;
  perspective: 600px;
  text-align: center;
  font-size: 20px;
  margin: 0 10px;
}

.card:hover {
  transform: translateZ(-160px) rotateY(-90deg);
}

/*  card front  */

.front {
  background-image: linear-gradient(180deg, rgba(145, 141, 144, 1) 0%, rgba(92, 91, 94, 0) 100%);
  transform: rotateY(0deg) translateZ(180px);
  border-radius: 34px 3px 0 0;
}

.card:hover .front {
  opacity: 0;
}

title {
  text-align: center;
  width: 100%;
  font-size: 20px;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.author-name {
  margin-left: 5px;
  color: white;
}

.star-rating {
  text-align: left;
  margin-top: 5px;
  font-size: 21px;
}

.discription {
  margin: 0;
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  color: black;
}

.h2 {
  font-size: 19px;
  margin-bottom: 0;
  color: black;
}

.fa-star {
  font-size: 19px;
}

.checked-rating {
  color: orange;
}

.price {
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  color: white;
}

.flip-card-img {
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 100ms;
  pointer-events: none;
  width: 200px;
}

.img-wrapper {
  animation: float 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
  position: absolute;
  bottom: 15px;
  right: 20px;
  pointer-events: none;
  backface-visibility: hidden;
}

/*  card right  */

.right {
  background-image: linear-gradient(0deg, rgba(145, 141, 144, 1) 0%, rgba(92, 91, 94, 0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card:hover .right {
  opacity: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 1px solid transparent;
}

.summary-discription {
  width: 253px;
  white-space: pre-line;
  font-size: 14px;
}

.add-to-cart-button {
  position: absolute;
  right: 121px;
  bottom: 34px;
  border: none;
  background: none;
  color: inherit;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117, 51, 165, 1) 50%, rgba(51, 46, 57, 0.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: right bottom;
}

button:hover {
  background-position: left;
}

.card:hover button {
  transform: scale(1) skewY(0);
}

.card:not(:hover) button {
  opacity: 0;
}

/* keyframes for flip card  */

@keyframes float {
  0% {
    transform: translateZ(20px);
  }

  100% {
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.33;
    transform: scale(0.89);
  }
}

/* catagory block or book catagory title  */

.catagory-block {
  text-align: center;
  text-transform: uppercase;
  background-color: #272A31;
  padding: 5px 0;
  color: orange;
  font-size: 30px;
}


/* parallax-background-images */
.parallax {
  background-image: url("https://www-tc.pbs.org/wgbh/masterpiece/wp-content/uploads/2016/12/sherlock_S4_season_icon.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("https://static.wixstatic.com/media/315781_f0012d104a01444e8d45cbef4eb47cc8~mv2_d_2048_1365_s_2.png");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("https://7wallpapers.net/wp-content/uploads/1_The-Fault-in-Our-Stars.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("https://www.itl.cat/pngfile/big/81-819481_widescreen-marvel-comic-book-background.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url("https://i1.wp.com/fantasy-hive.co.uk/wp-content/uploads/2019/12/Most-Anticipated-SFF-Books-of-2020-covers-Feature.jpg?fit=2500%2C1811&ssl=1");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url("https://assets.teenvogue.com/photos/57645e17dd80adbc7ec3f9d8/master/w_3750,h_2500,c_limit/classic-lit-books-00.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.parallax6 {
  background-image: url("https://parade.com/wp-content/uploads/2019/12/Best-Books-of-2019-4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.parallax7 {
  background-image: url("https://static01.nyt.com/images/2019/12/06/books/06critics-list1/06critics-list1-superJumbo.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*          footer             */

footer {
  height: auto;
  background-color: #272A31;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  font-size: 20px;
}

.social-link {
  padding: 20px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 15px 5px;
}

.social-link:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.company {
  font-weight: bolder;
  color: #888;
  text-transform: uppercase;
  padding-right: 10px;
}

/* media quries */

@media only screen and (max-device-width: 1150px) {
  .notification .badge {
    right: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .slideshow-img {
    widows: 1100px;
  }
}

@media screen and (max-width: 930px) {
  .notification .badge {
    right: 15px;
  }
  .navbar a {
    font-size: 14px;
  }
  .dropdown button {
    font-size: 14px;
  } 
}

@media screen and (max-width: 776px) {
  .navbar a {
    font-size: 12px;
  }
  .dropdown button {
    font-size: 12px;
  } 
}

@media screen and (max-width: 660px) {
  .notification .badge {
    right: 10px;
  }
  .navbar a {
    font-size: 10px;
  }
  .dropdown button {
    font-size: 10px;
  }
  .navbar .fa {
    visibility: collapse;
  }
}

@media screen and (max-width: 460px) {
  .navbar {
    grid-template-columns: repeat(7,1fr);
    padding-left: 0;
  }
  .navbar .fa {
    display: none;
  }
  .navbar a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .notification .badge {
    right: -5px;
  }
  .card > div {
    height: 366px;
  }
  .h1, h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .discription {
    font-size: 13px;
  }
  .summary-discription {
    width: 177px;
    font-size: 11.5px;
  }
  .img-wrapper {
    bottom: 135px;
    right: 30px;
  }
  .flip-card-img {
    width: 139px;
  }
  .right h2 {
    text-align: left;
  }
  .right button {
    text-align: left;
  }
  .horizontal-scroll{
    height: 400px;
    padding-top: 0;
  }
  .item {
    width: 330px;
  }
  .catagory-block {
    margin: 0;
  }
  .catagory-block h2 {
    text-align: center;
  }
}

@media screen and (max-width: 391px){
  .catagory-block h2 {
  font-size: 20px;
  }
}

@media screen and (max-width: 321px) {
  .navbar button {
    padding-left: 3px;
    padding-right: 3px;
  }
}

